# Logs
*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# VS Code directory
.vscode

# GoLand directory
.idea

# Client directory
cmd/apiclient

# Books storage
cmd/apiserver/books
